<h1>TIENDAS!</h1>
<ng-container *ngIf="lista_tiendas">
    <table class="table table-striped">
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Codigo
            </th>
            <th>
                Descripcion
            </th>
            <th>
                Contacto
            </th>
            <th>
                Calificacion
            </th>
            <th>
                Logo
            </th>
            <th>
                
            </th>
        </tr>
        <tr *ngFor="let tienda of listaAux">
            <td>
                <a class="btn btn-primary py-0" href="productos/{{tienda.Nombre}}/{{tienda.Departamento}}/{{tienda.Calificacion}}"> {{tienda.Nombre}} </a>
            </td>
            <td>
                {{tienda.Departamento}}
            </td>
            <td>
                {{tienda.Descripcion}}
            </td>
            <td>
                {{tienda.Contacto}}
    
            </td>
            <td>
                {{tienda.Calificacion}}
            </td>
            <td>
                <img src="{{tienda.Logo}}" style="width: 200px; height: 200px;" alt="">
            </td>
            <a class="btn btn-primary py-0" href="comentarios/{{tienda.Nombre}}/{{tienda.Departamento}}/{{tienda.Calificacion}}"> Comentar </a>
        </tr>
    </table>
</ng-container>
