<ng-container *ngIf="lista_productos">
    <table class="table table-striped">
        <tr>
            <th>
                ID
            </th>
            <th>
                Nombre
            </th>
            <th>
                Codigo
            </th>
            <th>
                Descripcion
            </th>
            <th>
                Precio
            </th>
            <th>
                Cantidad
            </th>
            <th>
                Imagen
            </th>
            <th>

            </th>
        </tr>
        <tr *ngFor="let producto of listaAux; let i = index">
            <td>
                {{i}}
            </td>
            <td>
                <button class="btn btn-primary py-0" (click)="agregarCarrito(producto)"> {{producto.Nombre}} </button>
            </td>
            <td>
                {{producto.Codigo}}
            </td>
            <td>
                {{producto.Descripcion}}
            </td>
            <td>
                {{producto.Precio}}
    
            </td>
            <td>
                {{producto.Cantidad}}
            </td>
            <td>
                <img src="{{producto.Imagen}}" style="width: 200px; height: 200px;" alt="">
            </td>
            <td>            
                <a class="btn btn-primary py-0" href="comentariosProd/{{nombre}}/{{departamento}}/{{calificacion}}/{{producto.Codigo}}/{{producto.Nombre}}"> Comentar </a>
            </td>
        </tr>
    </table>
</ng-container>